*
{
	padding: 0;
	margin: 0;
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	width: 100%;
	height: 100%;
}

#floating_div
{
	top: 50%;
	left: 50%;
	position: absolute;
}

svg
{
	width: 100%;
	height: 100%;
}

.dot, .main_dot
{
	fill: #bbb;
	position: absolute;
}

.orbit
{
	stroke: lightgrey;
	stroke-width: 1;
	fill: none;
	animation-name: fade-in;
  	animation-duration: 0.5s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

#main_dot
{
	r: 100;
	cx: 50vw;
	cy: 50vh;
}